---
title: "{{ item.title }}"
authors: {{ item.format_authors() }}
year: {{ item.year or "n.d." }}
{% if item.publication -%}
publication: "{{ item.publication }}"
{% endif -%}
{% if item.citekey -%}
citekey: "@{{ item.citekey }}"
{% endif -%}
{% if item.url -%}
url: {{ item.url }}
{% endif -%}
{% if item.doi -%}
doi: {{ item.doi }}
{% endif -%}
tags:
{% for tag in item.tags %}
  - {{ tag }}
{% endfor %}
date: {{ today }}
---

# {{ item.title }}

{% if item.abstract -%}
## Abstract

{{ item.abstract }}
{% endif %}
